.container{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.container form{
    background-color: white;
    max-width: 100%;
    padding: 150px 90px;
    margin:10px;
}


.container h2{
    color: #A7A7A7;
    font-weight: 40;
    text-align: center;
}

h1{
    color: #3d3c3c;
    font-size: 30px;
    margin: 5px 5px 35px;
   }


